@use '@/styles/package' as *;
@use './fonts' as *;

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 100%;

  @media only screen and (max-width: 700px) {
    font-size: 90%;
  }

  @media only screen and (min-width: 1400px) {
    font-size: 110%;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  overflow-anchor: none;
  margin: 0;
  font-family: $font-family;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
