@use '@/styles/package' as *;
@use './fonts' as *;
@use '../var/colors' as *;

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  overflow-anchor: none;
  margin: 0;
  font-family: $font-family;
  background-color: #fff;
  color: var(--alt-black);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: inherit;
}

input,
textarea {
  font-family: inherit;
}
