/**
 * Color definitions for CSS var()
 * Reference from Figma
 * https://www.figma.com/file/ACy2yMO3Fm7qKtLet4JwlB/N-poem?node-id=11%3A2
 */

:root {
  // Grayscale
  --alt-white: #fafafc;
  --silver: #f0f0f3;
  --gray: #a3a4a7;
  --alt-black: #1d1e1f;

  // Chromatic
  --emerald: #1dd0b0;
  --blue: #6486ff;
  --violet: #9a5cff;
  --pink: #ff59bd;
  --rose: #ff4a6b;
  --orange: #ffad61;
}
