/*
 * Color definitions
 * Reference from Figma
 * https://www.figma.com/file/ACy2yMO3Fm7qKtLet4JwlB/N-poem?node-id=11%3A2
 */

$white: #fafafc;
$silver: #f0f0f3;
$gray: #a3a4a7;
$black: #1d1e1f;
$blue: #3893fe;
