@use '@/styles/package' as *;

.poem-board[data-component] {
  --poem-input-font-size: 35px;
  --poem-input-line-height: 1.2;

  max-width: 1400px;
  height: 100vh;
  overflow: hidden;

  @include center(row);

  padding: 50px 100px;
  padding-left: 150px;
  margin: auto;

  @include smaller-than(900px) {
    padding: 0;
    padding-left: 50px;
  }

  .section--poem {
    flex: 1;
  }

  .section--timer {
    @include center;
    width: 300px;

    @include smaller-than(900px) {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      padding: 15px;
    }
  }

  .section--submit {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-image: linear-gradient(
      to bottom,
      rgba(#fff, 0.4),
      rgba(#fff, 0.5),
      rgba(#fff, 0.9),
      rgba(#fff, 1)
    );

    opacity: 0;
    transform: translateY(20px);

    @keyframes appear {
      0% {
        opacity: 0;
        transform: translateY(20px);
      }
      100% {
        opacity: 1;
        transform: translateY(0px);
      }
    }

    animation-name: appear;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;

    .input-container {
      margin-bottom: 54px;
    }

    .name,
    .btn {
      font-size: 15px;
      font-weight: 500;
      border: none;
      height: 36px;
      padding: 0 20px;
      border-radius: 9999px;
    }

    .name {
      background-color: var(--silver);
      margin-right: 16px;
    }

    .btn {
      background-color: var(--alt-black);
      color: var(--alt-white);
    }
  }
}
