@use '@/styles/package' as *;

.poem-board[data-component] {
  --poem-input-font-size: 35px;
  --poem-input-line-height: 1.2;

  max-width: 1400px;
  height: 100vh;
  overflow: hidden;

  @include center(row);

  padding: 50px 100px;
  padding-left: 180px;
  margin: auto;

  .section--poem {
    flex: 1;
  }

  .section--timer {
    @include center;
    width: 300px;
  }

  .section--submit {
    position: fixed;
    left: 0;
    width: 100%;
    bottom: 54px;
    display: flex;
    align-items: center;
    justify-content: center;

    .name,
    .btn {
      font-size: 15px;
      font-weight: 500;
      border: none;
      height: 36px;
      padding: 0 20px;
      border-radius: 9999px;
    }

    .name {
      background-color: var(--silver);
      margin-right: 16px;
    }

    .btn {
      background-color: var(--alt-black);
      color: var(--alt-white);
    }
  }
}
