@use '@/styles/package' as *;

.beginning-progress[data-component] {
  display: inline-block;
  position: relative;

  .progress-ring {
    transform: rotate(-90deg) scaleY(-1);

    circle {
      --animation-duration: 500ms;
      transition: stroke-dashoffset cubic-bezier(0.4, 0.2, 0.11, 1)
        var(--animation-duration);
    }
  }

  .message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    white-space: nowrap;
    font-size: 20px;
    font-weight: 500;

    @include smaller-than(900px) {
      font-size: 15px;
    }
  }
}
