@use '@/styles/package' as *;

.poem-item[data-component] {
  border-radius: 10px;
  background-color: var(--silver);
  padding: 22px 21px 17px 21px;

  .user-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 31px;

    .username {
      font: {
        size: 15px;
        weight: 500;
      }
      line-height: 18px;
      color: var(--alt-black);
    }

    .time-wrapper {
      display: flex;
      align-items: center;
      margin-top: 2px;

      .clock-icon {
        font-size: 14px;
        margin-right: 6px;
      }

      .time {
        font: {
          size: 12px;
          weight: normal;
        }
        line-height: 14px;
        color: var(--alt-black);
      }
    }
  }

  .poem {
    display: flex;
    margin-bottom: 23px;

    &:last-child {
      margin-bottom: 27px;
    }

    &:nth-child(1) .letter {
      color: var(--emerald);
    }

    &:nth-child(2) .letter {
      color: var(--blue);
    }

    &:nth-child(3) .letter {
      color: var(--violet);
    }

    &:nth-child(4) .letter {
      color: var(--pink);
    }

    &:nth-child(5) .letter {
      color: var(--rose);
    }

    &:nth-child(6) .letter {
      color: var(--orange);
    }

    .letter {
      font: {
        size: 20px;
        weight: 600;
      }
      line-height: 24px;
      margin-right: 23px;
    }

    .phrase {
      font: {
        size: 20px;
        weight: 500;
      }
      line-height: 24px;
      color: var(--alt-black);
    }
  }

  .thumbsup-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 59px;
    height: 31px;
    background-color: var(--alt-white);
    border: 1px solid var(--rose);
    border-radius: 10px;
    color: var(--rose);
    cursor: pointer;
    margin: 0 auto;

    .thumbsup-icon {
      font-size: 18px;
      margin-right: 4px;
    }

    .count {
      font-size: 15px;
    }
  }
}
