@use '@/styles/package' as *;

/* temp font-mixin */
@mixin custom-font(
  $size: unset,
  $color: unset,
  $weight: unset,
  $line-height: unset,
  $style: normal,
  $family: $font-family
) {
  font-size: $size;
  color: $color;
  font-weight: $weight;
  line-height: $line-height;
  font-style: $style;
  font-family: $family;
}

/* end: temp font-mixin */

.poem-item[data-component] {
  border-radius: 10px;
  background-color: var(--alt-white);
  padding: 22px 21px 27px 21px;

  .username {
    @include custom-font(15px, var(--alt-black), 500, 18px);
    margin-bottom: 31px;
  }

  .poem {
    margin-bottom: 23px;
    display: flex;

    &:last-child {
      margin-bottom: 0;
    }

    &:nth-child(1) .letter {
      color: var(--emerald);
    }

    &:nth-child(2) .letter {
      color: var(--blue);
    }

    &:nth-child(3) .letter {
      color: var(--violet);
    }

    &:nth-child(4) .letter {
      color: var(--pink);
    }

    &:nth-child(5) .letter {
      color: var(--rose);
    }

    &:nth-child(6) .letter {
      color: var(--orange);
    }

    .letter {
      @include custom-font(20px, inherit, 600, 24px);
      margin-right: 23px;
    }

    .phrase {
      @include custom-font(20px, var(--alt-black), 500, 24px);
    }
  }
}
